$MAX_CAROUSEL_HEIGHT: 600px;
$MAX_CAROUSEL_HEIGHT_MOBILE: 200px;

.homepage {
  .page-header {
    min-height: $MAX_CAROUSEL_HEIGHT;
    background-color: black;
  }
  #imageCarousel-homepage {
    .carousel-item {
      width: 100vw;
      height: $MAX_CAROUSEL_HEIGHT;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    .page-header {
      min-height: $MAX_CAROUSEL_HEIGHT_MOBILE;
    }
    #imageCarousel-homepage {
      padding-top: 90px;

      .carousel-item {
        height: $MAX_CAROUSEL_HEIGHT_MOBILE;
      }
    }
  }
}
