@import './fonts.scss';
@import './colors.scss';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $Nunito;
}
.icon {
  margin: 0 10px;
}
.iconButton {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}
.file-icon {
  margin-right: 5px;
  font-size: 22px;
  color: $primary800;
}
.iconBorderedButton {
  background: transparent;
  border-radius: 5px;
  margin: 5px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.responsive-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  .full {
    width: 100%;
  }
  .half {
    width: 50%;
  }
  .third {
    width: 33.33%;
  }
  .quarter {
    width: 25%;
  }
  .sixth {
    width: 16.66%;
  }
}

@media screen and (max-width: 800px) {
  .responsive-flex {
    flex-flow: column wrap;
    
    img {
      width: 100%;
    }
    .responsive-flex-child {
      width: 100% !important;
    }
  }
}
